
.iconos{
    width: 22%;
    float: left;
}

.iconos ion-img{
    float: left;
    margin-bottom: 50%;
}

.importes{
    width: 22%;
    float: left;
    margin-left: 18%;
    margin-top: -6%;
}

.importes h2{
    float: left;
    margin-bottom: 50%;
    margin-top: 65%;
}

ion-content{
    margin-left: 2%;
}

ion-icon{
    width: 2%;
}

