
ion-button{
    padding-left: 18%;
}

.añadir{
    margin-left: 19%;
}

.campo{
    margin-left: 30%;
    
}

.stats{
    float: right;
    width: 10%;
    margin-top: -7%;
    margin-right: 3%;
}

.my-custom-menu {
    --width: 500px;
  }


  ion-content{
      color: green;
  }